@font-face{
    font-family:'Cream';
    src:local('Cream'), url(./fonts/cream-DEMO.ttf) format('truetype');
}

body{
    background-color:#9d9d9d;
}

header{
    color:white;
    background-color:black;
    height:100px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    position: relative;
}

#headerText{
    margin-left:20px;
}

.messages-area{
    display: flex;
    background-color:#e0e1dd;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    padding: 10px;
    width: 700px;
    height: 470px;
    overflow-y: auto; 
    margin-bottom: 80px;
    box-shadow:0 2px 4px 0 #00000007, 0 6px 20px 0 #00000030;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
}

.message{
    font-family:"Cream";
    font-size:18px;
    border-radius:29px;
    width:350px;
    margin:20px;
    padding:20px;
    display: flex;
    box-shadow:0 2px 4px 0 #00000007, 0 6px 20px 0 #00000030;
}

.user-message{
    background-color:#778da9;
    align-self: flex-end;
    border-bottom-right-radius:0px;
}

.bot-message{
    background-color:#1b263b;
    align-self: flex-start;
    border-bottom-left-radius:0px;
    color:#e0e1dd;
}

.input-area{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    padding: 10px;
    width: 700px;
    background-color: #000000;
    box-shadow: 0 2px 4px 0 #00000007, 0 6px 20px 0 #00000030;
}

.message-input{
    background-color:transparent;
    border:none;
    font-family:"Cream";
    font-size:20px;
    padding:5px;
    width:93%;
    caret-color:white;
    color:white;
    padding-left:10px;
}

.message-input::placeholder{
    color:white;
}

.message-input:focus{
    outline:none;
}

.send-button{
    border:none;
    border-radius:999px;
    width:30px;
    height:30px;
}

.send-button:hover{
    background-color:rgb(188, 188, 188);
    cursor:pointer;
    transition:0.35s ease;
}

.send-button:disabled{
    display:none;
}

.refresh-button{
    position: absolute;
    left: 10px;
    bottom:10px;
    border:none;
    border-radius:999px;
    margin:15px;
    width:30px;
    height:30px;
    font-size:12px;
    box-shadow: 0 2px 4px 0 #00000007, 0 6px 20px 0 #00000030;
}

.refresh-button:hover{
    background-color:rgb(188, 188, 188);
    cursor:pointer;
    transition:0.35s ease;
}

#logo{
    width:100px;
    margin-bottom:5px;
}

footer{
    color:white;
    margin-left:5px;
}

#links {
    position: absolute;
    margin:30px;
    width: 200px;
    padding: 10px;
    background-color: black;
    border: 2px solid black;
    box-shadow: 0 2px 4px 0 #00000007, 0 6px 20px 0 #00000030;
    border-radius: 10px;
    font-family: "Cream";
    text-align: center;
    color:white;
}

#list{
    list-style-type:none;
    text-align:left;
}

.list-item-link{
    text-decoration:none;
    color:white;
}

.list-item-link:hover{
    cursor:pointer;
    color:#eef884;
    transition:0.35s ease;
}

#useful{
    font-size:20px;
}